<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Roboto+Condensed&family=Roboto:wght@100&family=VT323&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Roboto+Condensed&family=VT323&display=swap" rel="stylesheet">
<body>

<header class="main-head">
      <nav class="head-nav">
        <ul class="menu">
          <li>
            <a href="/">
                <img class="icon" src="images/task.png">    
            <span>All tasks</span></a>
          </li>
          <li>
            <a href="/highPriority">
              <img class="icon" src="images/task.png">
              <span>High Priority</span></a>
          </li>
          <li>
            <a href="/completedTasks">
              <img class="icon" src="images/task.png">
              <span>Completed Tasks</span></a>
          </li>
        </ul>
      </nav>
</header> 

<div class="wrap-all-the-things">

    <h1>Get it done !</h1>
    <div id="datetime">
    <date><%= data.moment().format('Do MMMM, YYYY'); %></date>
    <time><%= data.moment().format('h:mm a'); %></time>
    </div>

    <h2><%= data.title %></h2>
    <form action="/newtask" method="post" class="newtaskForm">
                <div class="newtaskDiv">
                    <label class="tasks-list-item newtask">Task Name</label>
                    <input type="text" class="newtask" name="name">
                </div>
                <div class="newtaskDiv">
                    <label class="tasks-list-item newtask">Task Description</label>
                    <input type="text" class="newtask"  name="description">
                </div>
                <div class="newtaskDiv">
                    <label class="tasks-list-item newtask">Estimated Duration</label>
                    <input type="number" class="newtask"  name="estimatedDuration">
                </div>
                <div class="newtaskDiv">
                    <label class="tasks-list-item newtask">Active By</label>
                    <input type="date" class="newtask"  name="activeBy">
                </div>
                <div class="newtaskDiv">
                    <label class="tasks-list-item newtask">Occurrence</label>
                    <input type="number" class="newtask"  name="occurrence">
                </div>
                <div class="newtaskDiv">
                    <label class="tasks-list-item newtask">Due Date</label>
                    <input type="date" class="newtask"  name="dueDate">
                </div>
                <div class="newtaskDiv">
                    <label class="tasks-list-item newtask">Priority</label>
                    <input type="number" class="newtask"  name="priority">
                </div>
                <div class="newtaskDiv">
                    <input type="Submit" value="Submit">
                </div>
            </form>
    <script src="scripts/frontEnd.js"></script>
</div>
</body>
</html>